<gds-heading type="H2" size="Medium">GDS Components</gds-heading>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="/Home/Accordion" title="Accordion">Accordion</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/BackLink" title="Back Link">Back Link</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/Button" title="Button">Button</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/Checkboxes" title="Button">Checkboxes</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/Details" title="Button">Details</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/ErrorSummary" title="Error summary">Error summary</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/Fieldset" title="Fieldset">Fieldset</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/Table" title="Text Input">Table</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/TextInput" title="Text Input">Text Input</a>
    </li>
    <li>
        <a class="govuk-link" href="/Home/Textarea" title="Textarea">Textarea</a>
    </li>
</ul>

