@{
    ViewData["Title"] = "Home Page";
}

<gds-row id="main-content" class="govuk-body" title="Main Content">
    <gds-column id="main-content-left-column" style="TwoThirds" class="govuk-body" title="Main Content Left Column">
        <gds-heading type="H1" size="Large">Test Project for GDS Components</gds-heading>
        <p>
            ASP.NET MVC project tag helper component library designed to generate the GDS frontend HTML structure.
        </p>
        <br /><br />
        <div>
            <gds-button id="start-button" button-type="Link" button-style="Start" prevent-double-click="true" href="/Home/TextInput" target="Self">Start</gds-button>
        </div>
    </gds-column>
    <gds-column id="main-content-right-column" style="OneThird" class="govuk-body" title="Main Content Right Column">
        <img src="https://dfeconnect.education.gov.uk/images/dfe-logo-alt.png" height="120px" alt="DfE logo" title="Dfe Logo" />
        <br /><br />
        <partial name="_Menu" />
    </gds-column>
</gds-row>



